/* img {
    background-color: #ffa5a5;
} */

/****  CLASS SELECTOR ****/
.bacon {
  background-color: #a5ecd7;
}

.broccoli {
  background-color: #fe7171;
}

.circular {
  border-radius: 100%;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
  /* border: 3px solid orangered; */
  padding: 10px;
}

.sentences {
  color: #00587a
}

.fit-pic {
  width: 20%;
}

/* ID SELECTOR */
#heading {
  color: #00587a;
}
